body {
    background-color: rgb(70, 67, 67); 
  margin: 0px;
    padding: 0;  
}

h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(77, 43, 77);
    padding: 20px;
    color: azure;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.about-flexbox {
    display: flex;
    position: relative;
}

.about-box {
    border: 4px groove rgb(35, 23, 36);
    border-radius: 5%;
    width: 40%;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 3em;
    align-items: center;
}

.about-par {
    margin: 5px;
    padding: 1em;
}

.header-align {
    text-align: center;
}   

.about-fit {
    width: 16vw;
    margin-left: 7rem;
    margin-bottom: 2rem;
}

.about-games {
    width: 20vw;
    margin-left: 5rem;
}

.about-hike {
    width: 16vw;
    margin-left: 7rem;
}

.project-header {
    font-size: 30px;
    padding: 0%;
    background-color: transparent;
    box-shadow: none;
    text-decoration: underline;
    margin-top: .5rem;
}

.project-flex {
    display: flex;
    justify-content: space-between;
}

.project h3 {
    font-size: x-large;
    color: rgb(31, 5, 31);
    text-decoration-line: underline;
}

.project {
   background-color: aliceblue;
   color: rgb(31, 5, 31); 
   height: 28vw;
   width: 30%;
   margin: 2em;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
   text-align: center;
}

.project-par {
    color: rgb(31, 5, 31); 
    padding: 1em;
}

.project-img {
    width: 250px;
    height: 200px;
    margin-left: 1em;
    margin-bottom: 1em;
    float:none;
    box-shadow: 0 3px 6px -2px #1b1b1b;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

/* This affects the header's home, about, and portfolio links*/
a {
    color: rgb(206, 207, 241);
    font-size:x-large;
    margin: 0 10px;
}

/* Affects the home page main block*/
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 47%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: azure;
    font-size: 25px;
}

.home-par {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: azure;
    font-size: medium;  
}

p {
    font-family:'Courier New', Courier, monospace;
    color: azure;
    font-size: medium;
    text-align: left;
}

label {
    display: flex;
}

footer {
    background-color: rgb(77, 43, 77);
    padding-top: 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 12px 1px black;
}

footer .fbmedia-link {
    height: 50px;
}
footer .instamedia-link {
    height: 50px;
}

/*Adding a media spec to accommodate screen sizes*/
@media (min-width:1200px) {
    .media {
        flex-direction: column;
    }
}