body {
    background-color: rgb(70, 67, 67); 
  margin: 0px;
    padding: 0;  
}

h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(77, 43, 77);
    padding: 20px;
    color: azure;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.about-flexbox {
    display: flex;
    position: relative;
}

.about-box {
    display: flex;
    border: 4px groove rgb(35, 23, 36);
    width: 70%;
    margin-left: 18em;
    margin-top: 1em;
    align-items: center;
}

.about-par {
    margin: 10px;
}

.header-align {
    text-align: center;
    padding: 1em;
}   

.about-fit {
    width: 35vw;
}

.about-games {
    width: 70vw;
}

.about-hike {
    width: 17vw;
}

.project-header {
    font-size: 30px;
    padding: 0%;
    background-color: transparent;
    box-shadow: none;
    text-decoration: underline;
    margin-top: 40px;
}

.project h3 {
    font-size: x-large;
    color: rgb(31, 5, 31);
    text-decoration-line: underline;
}

.project {
   background-color: aliceblue;
   color: rgb(31, 5, 31); 
   margin-left: 30px;
   margin-right: 20px;
   margin-top: 10px;
   padding: 20px;
   display: inline-block;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
   text-align: center;
}

.project p {
    color: rgb(31, 5, 31);
}

.project-img {
    width: 250px;
    height: 200px;
    margin-left: 1em;
    margin-bottom: 1em;
    float:none;
    box-shadow: 0 3px 6px -2px #ccc;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

a {
    color: rgb(206, 207, 241);
    font-size:x-large;
    margin: 0 5px;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 47%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: azure;
    font-size: 25px;
}

.home-par {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: azure;
    font-size: medium;  
}
p {
    font-family:'Courier New', Courier, monospace;
    color: azure;
    font-size: medium;
    text-align: left;
    display: block;
}

footer {
    background-color: rgb(77, 43, 77);
    padding-top: 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 12px 1px black;
}

footer .fbmedia-link {
    height: 50px;
}
footer .instamedia-link {
    height: 50px;
}